html, body {
    height: 100%;
    width: 100%
}

body {
    font-family: ar;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vw;
    align-items: center;
    background-color: gainsboro;
}

h3 {
  margin: 0px;
}

p {
  margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

output {
    margin-bottom: 20px;
}

.selectors {
    display: flex;
    flex-direction: column;
    height: 480px;
    align-items: center;
    justify-content: space-around;

    width: 150px;
}
button {
    width: 150px;
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
  }
  
  button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }
  
  button,
  #colorWell {
    transition: transform 0.1s ease-in-out;
  }
  
  button:hover,
  #colorWell:hover {
    transform: scale(1.05);
  }
  
  #colorWell:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
  }
  
  #colorWell {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    background-color: gainsboro;
  }
  
  #colorWell::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  #colorWell::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

#select-rows {
    width: 150px;
}

.board {
    width: 640px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.square {
    flex: 1 1 auto;
    border: 1px solid rgb(242, 242, 242);
    background-color: white;
}