html, body {
    height: 100%;
    width: 100%
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

output {
    margin-bottom: 20px;
}

.selectors {
    display: flex;
    width: 640px;
    align-items: center;
    justify-content: space-between;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size{
    width: 640px;
}

.board {
    width: 640px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(0, 0, 0);
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.square {
    flex: 1 1 auto;
}